.search__input {
  width: 300px;
  padding: 10px 20px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border-color: var(--color-primary); */
  border-radius: 0.5rem;
}
.search__input:focus {
  outline: var(--color-primary);
}
